<p id="notice"><%= notice %></p>

<h1>Listing Astronauts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @astronauts.each do |astronaut| %>
      <tr>
        <td><%= astronaut.name %></td>
        <td><%= astronaut.image_url %></td>
        <td><%= link_to 'Show', astronaut %></td>
        <td><%= link_to 'Edit', edit_astronaut_path(astronaut) %></td>
        <td><%= link_to 'Destroy', astronaut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Astronaut', new_astronaut_path %>
