<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @astronaut.name %>
</p>

<p>
  <%= image_tag(@astronaut.image) unless @astronaut.image.blank? %>
</p>

<%= link_to 'Edit', edit_astronaut_path(@astronaut) %> |
<%= link_to 'Back', astronauts_path %>
